body{
  text-align: center;
  align-content: center;
}
#view{
  width:50%;
  height:80px;
}
button{
  padding:10px;
}
input{
  padding: 10px;
}
fieldset{
  padding: 2%;
  border: 1px solid rgb(41, 102, 78);
  width:30%;
  margin:0 auto;
  box-shadow: 5px 5px 5px rgb(81, 117, 117);
  background-image: linear-gradient(to bottom right, rgb(14, 36, 4) ,rgb(107, 136, 107));
}
